*{
    
    width: 250px;
    text-align: center;
    margin:  0 auto;
}
.div containrt{
    haejfd
    jkijsakfsda
}

.h{
    height: 5241;
    header::after
}
.p{
    box-shadow: inset;
    background-color: aliceblue;
}